<!DOCTYPE HTML>
<html>

<body>
	<form th:action ="@{/saveTicket}" th:object="${ticket}" method ="post" class="was-validated">
		<div class="mb-3 mt-3">
			<b> Summery </b>
			<input type="text" th:field="*{summary}" id ="summary" name ="summary" class="ticketSummery" placeholder="Add summery" size="70" required>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
			
			<input type="text" th:field="*{issue}" name ="inputType" class="ticketSummery" placeholder="Add summery" size="70"/>
			
			
		<p>
			<b>Description</b>
			<input type="text" th:field="*{description}" name ="description" size="70" />
		<p>
			<lable><b>Reporter</b>
				<input list="DefaultReporter" th:field="*{reporter}" name = "reporter" />
			required</lable>
			<datalist id="DefaultReporter">
				<option value="Rohan" />
				<option value="Neeraj" />
				<option value="Ankit" />
			</datalist>
			<lable><b>Assignee</b>
				<input list="DefaultAssignee" th:field="*{asignee}" name ="asignee" />
			</lable>
			<datalist id="DefaultAssignee">
				<option value="Rohan" />
				<option value="Neeraj" />
				<option value="Ankit" />
			</datalist>
			<p />
			<input type="submit" value="Submit">
	</form>
</body>

</html>